@import "bourbon";
@import "bitters/bitters";
@import "neat";

$bg-color: #fff;

body {
  @include outer-container;
  background: $bg-color;
}

.left {
  @include span-columns(3);
}

.right {
  @include span-columns(9);
  @include omega;
}
