//@import "neat-helpers";

// Change the grid settings
//$column: 90px;
//$gutter: 30px;
//$grid-columns: 10;
//$max-width: em(1088);

// Define your breakpoints
$t-width: em(768);
$m-width: em(520);
$tablet: new-breakpoint(max-width $t-width 6);
$mobile: new-breakpoint(max-width $m-width 1);