@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "variables";
@import "grid-settings";

body {
  background: $bg-color;
}

#wrapper {
  @include outer-container;
}

.sidebar {
  @include span-columns(3);

  @include media($desktop) {
    @include span-columns(2);
  }
  @include media($tablet) {
    @include span-columns(2);
  }

  @include media($mobile) {
    @include span-columns(1);
  }
}

.content {
  @include span-columns(9);
  @include omega;
  .columns {
    @include span-columns(3 of 9);
  }
  @include media($desktop) {
    @include span-columns(4);
    @include omega;

    .columns {
      @include span-columns(2 of 4);
      @include omega(2n);
    }
  }
  @include media($tablet) {
    @include span-columns(4);
    @include omega;

    .columns {
      @include span-columns(4 of 4);
      @include omega;
    }
  }
  @include media($mobile) {
    @include span-columns(1);

    .columns {
      @include span-columns(1 of 1);
      @include omega;
    }
  }
}
